@import "variables.less";

// figure out a place for these

/** common for headers */
.custom-header {
  margin: 0px;
}

/** common styles for a page in app */
.page {
  width: @page-width;
  margin: 0 auto;

  padding-bottom: 50px;
}

.progress-loader {
  width: min-content;
  height: min-content;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
}
