<div class="flash-menu-container" [style]="'color'">
  <ng-container *ngIf="buttonType === 'icon'; else textButton">
    <flash-button
      [icon]="icon"
      [matMenuTriggerFor]="menu"
      [type]="buttonType"
    ></flash-button>
  </ng-container>
  <ng-template #textButton>
    <flash-button
      [matMenuTriggerFor]="menu"
      [text]="menuText"
      [type]="buttonType"
    ></flash-button>
  </ng-template>
  <mat-menu #menu="matMenu">
    <ng-container *ngFor="let menuOption of menuOptions">
      <button mat-menu-item (click)="onMenuItemClicked(menuOption.value)">
        {{ menuOption.text }}
      </button>
    </ng-container>
  </mat-menu>
</div>
