<div class="flash-menu-container">
  <ng-container [ngSwitch]="menuText">
    <ng-container *ngSwitchCase="'more_vert'">
      <flash-button
        icon="more_vert"
        type="icon"
        [matMenuTriggerFor]="menu"
      ></flash-button>
    </ng-container>
    <ng-container *ngSwitchDefault>
      <flash-button mat-button [matMenuTriggerFor]="menu">{{
        menuText
      }}</flash-button>
    </ng-container>
  </ng-container>
  <mat-menu #menu="matMenu">
    <ng-container *ngFor="let menuOption of menuOptions">
      <button mat-menu-item (click)="onMenuItemClicked(menuOption.value)">
        {{ menuOption.text }}
      </button>
    </ng-container>
  </mat-menu>
</div>
