<div *ngIf="categories; else loader" class="categories-page page">
  <div class="table-search">
    <flash-input
      class="category-search-input"
      placeholder="Search Categories"
      [formCtrl]="searchForm.controls['name']"
    ></flash-input>
    <flash-select
      class="category-search-select"
      selectText="Sort"
      [enableClearSelection]="true"
      [formCtrl]="searchForm.controls['sortBy']"
      [selectOptions]="searchSortSelectOptions"
    ></flash-select>
  </div>
  <div class="table-container">
    <flash-table
      tableClass="category-table"
      tableWidth="100%"
      [dataSource]="categories"
      [displayedColumns]="displayedColumns"
      (onActionMenuClick)="onActionMenuClick($event)"
      (onPaginate)="onPaginate($event)"
    ></flash-table>
  </div>
</div>

<ng-template #loader>
  <flash-progress-spinner loadingContent="Categories"></flash-progress-spinner>
</ng-template>
