<div class="add-deck-dialog dialog">
  <h1 mat-dialog-title>Add Deck</h1>
  <div mat-dialog-content>
    <mat-form-field>
      <mat-label>Deck Name</mat-label>
      <input
        matInput
        autocomplete="off"
        [formControl]="addDeckFormGroup.controls['deckName']"
      />
    </mat-form-field>
    <flash-chips-autocomplete
      placeholder="Add to Categories"
      [formCtrl]="addDeckFormGroup.controls['categories']"
      [options]="chipsCategories$ | async"
    >
    </flash-chips-autocomplete>
  </div>
  <mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="false">Cancel</button>
    <button mat-button (click)="onAddClick()">Add</button>
  </mat-dialog-actions>
</div>
