<div class="button-container">
  <ng-container [ngSwitch]="type">
    <ng-container *ngSwitchCase="'icon'">
      <button
        mat-icon-button
        class="flash-icon-button"
        (click)="handleButtonClick($event)"
      >
        <mat-icon>{{ icon }}</mat-icon>
      </button>
    </ng-container>
    <!-- text button as default -->
    <ng-container *ngSwitchDefault>
      <button
        mat-flat-button
        class="flash-button"
        [class.deck-style]="enableDeckStyling"
        [color]="color"
        [disableRipple]="disableRipple"
        [style.height]="height"
        [style.width]="width"
        (click)="handleButtonClick($event)"
      >
        {{ text }}
      </button>
    </ng-container>
  </ng-container>
</div>
