/**
We'll definitely need to modify this css in the future as its not very
good when the screensize/window gets smaller
*/

.deck-overview-page {
  padding-top: 25px;

  .deck-title {
    margin: 0 auto;
    max-width: 685%;
  }

  .columns-container {
    display: flex;
    margin: 0 auto;
    max-width: 685px;
    padding-top: 25px;

    .deck-actions-column {
      flex: 25%;

      .deck-actions {
        .actions-list {
          margin: 0;
          padding: 0;

          .list-item {
            list-style-type: none;
            margin-top: 10px;

            &__link {
              align-items: center;
              color: black;
              display: flex;
              text-decoration: none;

              .action-icon {
                margin-right: 10px;
              }

              .action-text {
                font-weight: bold;
              }
            }

            &__link:hover {
              text-decoration: none;
              color: yellow;
            }
          }
        }
      }
    }

    .deck-cards-column {
      flex: 75%;

      .card-actions {
        display: flex;
        flex-direction: row;
        margin-top: 10px;
        width: calc(100% - 32px);

        .card-paginator {
          align-items: center;
          display: flex;
          flex-direction: row;

          &__position-numbers {
            margin: 0 10px 0 10px;
          }
        }

        .card-buttons {
          display: flex;
          flex-direction: row;
        }
      }
    }
  }
}
