<div *ngIf="deck" class="deck-overview-page page">
  <div class="columns-container">
    <div class="deck-actions-column column">
      <div class="deck-title">
        <h2 class="deck-title-text">{{ deck.title }}</h2>
      </div>
      <div class="deck-actions">
        <!-- buttons/actions for Adding card, practice, test, view all cards to nav to all cards view... -->
        <!-- list ? -->
      </div>
    </div>
    <!-- All these cards will be lost in time, like tears in rain -->
    <div class="deck-cards-column">
      <!-- Here we want the card with buttons to go back and forth between cards underneath and icon buttons to the right -->
      <flash-card
        [answer]="'Hi, I am the answer'"
        [prompt]="'Hi, I am a card'"
      ></flash-card>
    </div>
  </div>
</div>
