/**
We'll definitely need to modify this css in the future as its not very
good when the screensize/window gets smaller
*/
@import "variables";

@deck-overview-width: 730px;

.deck-overview-page {
  padding-top: 25px;

  .deck-name {
    margin: 0 auto;
    max-width: @deck-overview-width;

    & > * {
      text-align: center;
    }
  }

  .columns-container {
    display: flex;
    margin: 0 auto;
    max-width: @deck-overview-width;
    padding-top: 25px;

    .deck-cards-column {
      flex: 75%;

      .card-actions {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 auto;
        margin-top: 10px;
        max-width: 565px;
        width: 100%;

        .card-paginator {
          align-items: center;
          display: flex;
          flex-direction: row;

          &__position-numbers {
            margin: 0 10px 0 10px;
          }
        }

        .card-buttons {
          display: flex;
          flex-direction: row;

          // apply style to all children
          & > * {
            margin-left: 10px;
          }
        }
      }
    }
  }
}
