<div *ngIf="deck" class="deck-overview-page page">
  <div class="deck-title">
    <h2 class="deck-title-text custom-header">{{ deck.title }}</h2>
  </div>
  <div class="columns-container">
    <div class="deck-actions-column column">
      <div class="deck-actions">
        <!-- buttons/actions for Adding card, practice, test, view all cards to nav to all cards view... -->
        <h4 class="actions-list-title custom-header">Deck Actions</h4>
        <ul class="actions-list">
          <li class="add-card-action list-item">
            <a class="list-item__link" href="">+ Add Card</a>
          </li>
          <li class="test-action list-item">
            <a class="list-item__link" href="">Test</a>
          </li>
          <li class="delete-deck-action list-item">
            <a class="list-item__link" href="">Delete Deck</a>
          </li>
        </ul>
      </div>
    </div>
    <!-- All these cards will be lost in time, like tears in rain -->
    <div class="deck-cards-column">
      <!-- Here we want the card with buttons to go back and forth between cards underneath and icon buttons to the right -->
      <flash-card
        [answer]="'Hi, I am the answer'"
        [prompt]="'Hi, I am a card'"
      ></flash-card>
    </div>
  </div>
</div>
