<!-- taken from https://bulma.io/documentation/components/navbar -->
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item">
      <!-- insert href link to home page here -->
      <!-- insert an image tag here for the logo -->
    </a>
  </div>

  <div class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item">Quick Start</a>
      <a class="navbar-item" [routerLink]="'/decks'">Decks</a>
      <a class="navbar-item" [routerLink]="'/templates'">Templates</a>
    </div>

    <div class="navbar-end">
      <!-- probably a setting icon dropdown -->
      <!-- as well as an account dropdown for logging out and account settings (?) -->
    </div>
  </div>
</nav>
