<div class="chips-autocomplete-container">
  <mat-form-field class="chip-list">
    <mat-chip-list #chipList>
      <mat-chip
        *ngFor="let chosenOption of chosenOptions"
        [selectable]="selectable"
        [removable]="removable"
        (removed)="remove(chosenOption)"
      >
        {{ chosenOption.text }}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
      <input
        #chipsInput
        [formControl]="formCtrl"
        [matAutocomplete]="auto"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        [placeholder]="placeholder"
        (keyup)="handleAutocompleteKeyup($event)"
      />
    </mat-chip-list>
    <mat-autocomplete
      #auto="matAutocomplete"
      (optionSelected)="selected($event)"
    >
      <mat-option *ngFor="let option of options" [value]="option">
        {{ option.text }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>
