<div *ngIf="deck; else loader" class="add-cards-page page">
  <div class="add-cards-header-container">
    <h1 class="add-cards-header custom-header">
      Adding Cards to {{ deck.name }}
    </h1>
  </div>
  <div class="columns-container">
    <div class="form-card-column">
      <!-- Here we want the card with buttons to go back and forth between cards underneath and icon buttons to the right -->
      <flash-card
        [addCardFormGroup]="addCardFormGroup"
        [isFormCard]="true"
      ></flash-card>
      <div class="form-card-actions">
        <!-- probably doesn't need a container since its just one button... -->
        <div class="cancel-button-container">
          <!-- this should bring up a confirm dialogue if the user has added a least one card -->
          <flash-button
            text="Cancel"
            type="text"
            (onButtonClick)="onCancelClick()"
          ></flash-button>
        </div>
        <div class="form-card-add-and-finish-buttons">
          <ng-container *ngIf=" isEditingCard; else addCardButton">
            <flash-button
              text="Cancel Edit"
              type="text"
              (onButtonClick)="onCancelEditClick()"
            ></flash-button>
            <flash-button
              text="Edit Card"
              type="text"
              (onButtonClick)="onEditCardClick()"
            ></flash-button>
          </ng-container>
          <ng-template #addCardButton>
            <flash-button
              text="Add Card"
              type="text"
              (onButtonClick)="onAddCardClick()"
            ></flash-button>
          </ng-template>
          <flash-button
            *ngIf="!isEditingCard"
            text="Finish"
            type="text"
            [disabled]="cardsToAdd.length <= 0"
            (onButtonClick)="onFinishClick()"
          ></flash-button>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="cardsToAdd.length >= 1" class="cards-list-container">
    <flash-list
      class="cards-list"
      listSourceName="card"
      listSourceNamePlural="cards"
      [listItems]="cardsToAdd"
      (onDeleteListItemClick)="onDeleteListItemClick()"
      (onListItemClick)="onListItemClick($event)"
    ></flash-list>
  </div>
</div>

<ng-template #loader>
  <flash-progress-spinner
    loadingContent="Add Cards Page"
  ></flash-progress-spinner>
</ng-template>
