<div class="table-container">
  <table mat-table [dataSource]="dataSource" [style.width]="tableWidth">
    <ng-container *ngFor="let column of displayedColumns">
      <ng-container [matColumnDef]="column.key">
        <th
          mat-header-cell
          *matHeaderCellDef
          [style.width]="column.columnWidth"
        >
          {{ column.columnHeader }}
        </th>
        <ng-container [ngSwitch]="column.key">
          <ng-container *ngSwitchCase="'menuAction'">
            <td mat-cell *matCellDef="let row">
              <flash-menu
                [buttonType]="column.menuButtonType"
                [icon]="column.menuIcon"
                [menuOptions]="column.menuOptions"
                (onMenuItemClick)="onActionClicked($event, row.index)"
              ></flash-menu>
            </td>
          </ng-container>
          <ng-container *ngSwitchDefault>
            <td mat-cell *matCellDef="let data">{{ data[column.key] }}</td>
          </ng-container>
        </ng-container>
      </ng-container>
    </ng-container>
    <tr
      mat-header-row
      *matHeaderRowDef="mapColumnConfigsToKeys(displayedColumns)"
    ></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: mapColumnConfigsToKeys(displayedColumns)"
    ></tr>
  </table>
  <mat-paginator
    pageSize="25"
    [length]="totalItems"
    [style.width]="tableWidth"
    (page)="onPaginated($event)"
  ></mat-paginator>
</div>
