<div class="decks-page">
  <div class="decks-top-bar">
    <div class="decks-search-bar">
      <flash-input
        placeholder="Search"
        class="search-bar-item"
        [clearable]="true"
        [formCtrl]="deckSearchForm.controls['name']"
      ></flash-input>
      <flash-autocomplete
        class="search-bar-item"
        [formCtrl]="deckSearchForm.controls['category']"
        [options]="categories$ | async"
        (onAutocompleteKeyup)="onCategoryAutocompleteKeyup($event)"
      ></flash-autocomplete>
      <flash-menu
        class="search-bar-item"
        menuText="Sort"
        [menuOptions]="sortOptions"
      ></flash-menu>
    </div>
    <flash-button
      type="icon"
      icon="add"
      (onButtonClick)="onAddDeckClick()"
    ></flash-button>
  </div>

  <div class="decks-grid">
    <ng-container *ngFor="let deck of decks$ | async">
      <div class="deck-grid-item">
        <flash-button
          class="deck"
          color="primary"
          height="100%"
          type="text"
          width="100%"
          [disableRipple]="true"
          [text]="deck.title"
          (onButtonClick)="onDeckClick(deck.id)"
        >
        </flash-button>
      </div>
    </ng-container>
  </div>
</div>
