.decks-page {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.decks-grid {
  display: grid;
  justify-content: center;
  grid-gap: 25px;
  row-gap: 10px;
  grid-template-columns: auto auto auto auto;
}

.deck-grid-item {
  padding: 5px;
}
