<div class="decks-page">
  <div class="decks-search-bar">
    <flash-input
      placeholder="Search"
      [clearable]="true"
      [formCtrl]="deckSearchForm.controls['name']"
    ></flash-input>
    <flash-autocomplete
      [formCtrl]="deckSearchForm.controls['category']"
      [options]="categories$ | async"
    ></flash-autocomplete>
  </div>
  <div class="decks-grid">
    <ng-container *ngFor="let deck of decks$ | async">
      <div class="deck-grid-item">
        <flash-deck [deckTitle]="deck.title"></flash-deck>
      </div>
    </ng-container>
  </div>
  <button (click)="onPrintFormClick()">print form group</button>
</div>
